#profile-sub-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  height: 100%;
  width: 100%;
}

#profile-motion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#profile-image {
  border-radius: 50%;
}

#profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 200px;
  margin-left: 20px;
}
