@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colour Scheme
https://www.schemecolor.com/pastel-color-tones.php */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.radix-themes {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: 60px 750px;
}

/* Nav Bar Stuff */

#navBar {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #957dad;
}

/* Main Stuff */

#MainDiv {
  background-color: #e0bbe4;
  grid-area: 2 / 1 / 3 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#hill1div {
  grid-area: 4 / 1 / 6 / 11;
}

#hill1 {
  width: max-content;
  height: fit-content;
}
