#MainDiv {
  background-color: var(--background);
  grid-area: 2 / 1 / 3 / 6;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, minmax(500px, auto));
}

#profile-div {
  grid-area: 1 / 1 / 2 / 10;
  display: grid;
  background-color: var(--background);
}

#about-me-div {
  grid-area: 2 / 1 / 3 / 10;
  display: grid;
  background-color: var(--background2);
}

#projects-div {
  grid-area: 3 / 1 / 4 / 10;
  display: grid;
  background-color: var(--background);
}

#languages-div {
  grid-area: 4 / 1 / 5 / 10;
  display: grid;
  background-color: var(--background2);
}

#get-in-touch-div {
  grid-area: 5 / 1 / 6 / 10;
  display: grid;
  background-color: -var(--background);
}
